body{
    background-color: crimson;
}
#mainContent{
    background-color: black;
    border: 5px solid white;
    color: white
}
h1{
    text-align: center;
}
img{
    width: 50%;
    margin-left: auto;
}